header {
  color: gainsboro;
  text-align: center;
  padding: 20px;
}
.navbar {
  color: gainsboro;
  background-color: violet;
  text-align: center;
  margin-top: 10px;
}
content {
  float: left;
  width: 50%;
}
aside {
  float: right;
}
footer {
  /*
    position: absolute;
    bottom: 0;
  */
  width: 99.2%;
  padding: 5px;

  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: #274c77;
  color: gainsboro;
}

#slideShow {
  padding-bottom: 20px;
}
